IO_LOC  "clock" 52;
IO_PORT "clock" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "reset" 3;
IO_PORT "reset" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "uart_tx" 17;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "uart_rx" 18;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;